# MongoDB connection
MONGODB_URI=mongodb://<username>:<password>@ac-eq2d3xj-shard-00-00.sgbqkio.mongodb.net:27017/sk_parfumerie?ssl=true&directConnection=true&authSource=admin&retryWrites=true&w=majority
MONGODB_DB=sk_parfumerie
MONGODB_ALLOW_INVALID_CERTS=false

# API base path for browser requests
NEXT_PUBLIC_API_BASE_URL=/api
